@font-face {
	font-family: 'HKGroteskWide-ExtraBold';
	src: url('~@/assets/fonts/HKGroteskWide-ExtraBold.woff') format('woff'), url('~@/assets/fonts/HKGroteskWide-ExtraBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Slab';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Slab Medium'), local('Roboto-Slab-Medium'), url('~@/assets/fonts/Roboto-Slab-Medium.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Slab-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('~@/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'), url('~@/assets/fonts/MaterialIcons-Regular.woff') format('woff')
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    display: inline-block;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
	font-size: inherit;
	line-height: inherit;
	vertical-align: top;
	text-transform: none!important;
}

* {
	user-select: none;
	text-rendering: optimizeLegibility;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
:after,
:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
	font-weight: 400;
	color: #001d1d;
    line-height: 1.5;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	position: fixed;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html[data-n-head-ssr] body {
	overflow: hidden;
    margin-top: 40vh;
    background: #fff;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 3rem;
}

audio {
	width: 100%;
	outline: none;
}

video,
img {
	max-width: 100%;
	height: auto;
	outline: none;
}

a {
	outline: none;
	text-decoration: none;
}

ol {
    list-style: decimal inside;
}

ul {
    list-style: disc inside;
}

textarea,
input,
input[disabled="disabled"] {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	outline: none;
	opacity: 1;
	-webkit-appearance: none;
}

[contenteditable="true"] {
	outline: none;
}

textarea,
input,
[contenteditable="true"],
[contenteditable="true"] * {
	user-select: text!important;
	-webkit-user-select: text!important;
	-webkit-touch-callout: default!important;
}

input:not([disabled]):not([readonly]):focus,
select:focus,
textarea:focus {
    border-color: #001d1d!important;
}

button {
	outline: 0;
    -webkit-appearance: none;
}

iframe {
	width: 100%;
	height: 100%;
}

::placeholder {
	color: #aaa;
	opacity: 1!important;
}

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
}

.ascenseur {
	scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
	scrollbar-width: thin;
}

[v-cloak] {
	display: none;
}

#__nuxt,
#__layout,
#app {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#page {
	padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/* Header et navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
    text-align: left;
    background: #242f3d;
    color: #fff;
    height: 4rem;
    width: 100%;
    padding: 0 9rem 0 0;
    z-index: 100;
    position: relative;
}

#conteneur-logo {
	width: 4rem;
    height: 4rem;
    text-align: center;
    background: #001d1d;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    width: 2.4rem;
    height: 2.4rem;
    background: #00ced1;
    display: inline-block;
	border-radius: 50%;
	margin: 0.8rem;
}

#titre {
	font-family: 'Roboto-Slab';
    padding-left: 1.5rem;
    line-height: 4rem;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    text-align: left;
    margin-left: 4rem;
    display: block;
}

#titre::before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 8px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
}

#conteneur-header-droit {
	display: flex;
	justify-content: center;
	align-items: center;
    height: 4rem;
    color: #fff;
    position: absolute;
    top: 0;
    padding: 0;
    line-height: 0;
    z-index: 100;
    right: 1.5rem;
    cursor: pointer;
}

#conteneur-header-droit i {
	font-size: 24px;
}

#conteneur-header-droit .badge {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #001d1d;
    font-size: 1.25rem;
    text-align: center;
    margin-left: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 2.5rem;
    font-weight: 500;
}

#nav {
    position: fixed;
    left: 0;
    top: 4rem;
    width: 4rem;
    background: #2c2d30;
    bottom: 0;
	z-index: 100;
	box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.4);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#nav span {
	position: relative;
	width: 4rem;
    margin-top: 2.5rem;
    font-size: 24px;
    color: #fff;
    display: block;
	text-align: center;
	line-height: 1;
	cursor: pointer;
}

/* Menus
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu {
    width: 30rem;
    position: fixed;
    top: 4rem;
    bottom: 0;
    overflow: hidden;
	background: rgba(255, 255, 255, 0.95);
    transition: all 0.15s ease-out;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.menu.gauche {
	left: -34rem;
	border-right: 1px solid #ddd;
}

.menu.droite {
	right: -30rem;
	border-left: 1px solid #ddd;
}

.menu.ouvert {
    transition: all 0.2s ease-in-out;
    transform: translate3d(0, 0, 0);
}

.menu.gauche.ouvert {
	left: 4rem;
	box-shadow: 2px 0 7px 0 rgba(0, 0, 0, 0.1);
}

.menu.droite.ouvert {
	right: 0;
	box-shadow: -2px 0 7px 0 rgba(0, 0, 0, 0.1);
}

.menu .en-tete {
    height: 5rem;
    display: flex;
    border-bottom: 1px solid #ddd;
	justify-content: space-between;
	align-items: center;
}

.menu .titre {
    font-size: 15px;
    text-align: left;
	padding-left: 1.5rem;
	font-weight: 700;
    text-transform: uppercase;
}

.menu .reinitialiser,
.menu .fermer {
	width: 3.5rem;
	height: 2rem;
    font-size: 2rem;
	text-align: right;
    cursor: pointer;
	padding-right: 1.5rem;
	line-height: 1;
}

.menu .contenu {
    margin: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
    height: calc(100% - 5rem);
}

.menu .conteneur {
    margin: 2rem 1.5rem;
}

.menu .conteneur label {
    font-size: 14px;
    display: block;
	margin-bottom: 10px;
	line-height: 1.15;
	font-weight: 500;
}

.menu .conteneur input {
	display: block;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
	padding: 7px 15px;
	line-height: 1.5;
}

#langues {
	display: flex;
	justify-content: flex-start;
}

#langues span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 1px solid #ddd;
	margin-right: 1rem;
	cursor: pointer;
}

#langues span.selectionne {
	background: #242f3d;
    color: #fff;
	border: 1px solid #222;
	cursor: default;
}

/* Boutons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bouton-rouge,
.bouton-bleu,
.bouton-vert {
	width: 100%;
	text-align: center;
    font-size: 14px;
    background: transparent;
    padding: 0 20px;
    cursor: pointer;
    display: inline-block;
	height: 40px;
	line-height: 38px;
	font-weight: 500;
	letter-spacing: 1px;
	text-indent: 1px;
	border-radius: 4px;
	text-transform: uppercase;
	transition: all ease-in 0.1s;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bouton-vert {
	border: 1px solid #00a885;
    color: #00a885;
	width: 100%;
}

.bouton-vert:hover {
	background: #00a885;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.bouton-bleu {
	border: 1px solid #242f3d;
    color: #242f3d;
}

.bouton-bleu:hover {
	background: #242f3d;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.bouton-rouge {
	border: 1px solid #ff6259;
    color: #ff6259;
}

.bouton-rouge:hover {
	background: #ff6259;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

label.bouton-bleu {
	font-size: 14px!important;
	line-height: 38px!important;
    margin-bottom: 0;
    color: #242f3d;
}

/* Modale
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.conteneur-modale {
	position: fixed;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	animation-duration: 0.2s;
  	animation-delay: 0s;
  	animation-name: fonduEntrant;
  	animation-iteration-count: 1;
}

.modale {
	position: relative;
    background: #fff;
	width: 90%;
	max-width: 400px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
}

.modale .en-tete {
	display: flex;
	width: 100%;
	height: 45px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.modale .en-tete .titre {
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	margin-left: 20px;
	text-transform: uppercase;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modale .en-tete .fermer {
	vertical-align: top;
	cursor: pointer;
	font-size: 24px;
	margin-right: 15px;
}

.modale .conteneur {
    position: relative;
	width: 100%;
	padding: 20px;
	overflow: auto;
    height: calc(100% - 45px);
}

.modale .conteneur p:not(.information) {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 1.5;
}

.modale .conteneur p.information {
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 1.25;
}

.modale .contenu {
	width: 100%;
}

.modale .conteneur label:not(.bouton) {
	display: block;
	width: 100%;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 1.15;
}

.modale .conteneur input[type="text"],
.modale .conteneur input[type="password"] {
	display: block;
	width: 100%;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 0 auto 20px;
	text-align: left;
}

.modale .conteneur .bouton {
	display: inline-block;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	background: #00ced1;
	border-radius: 5px;
	letter-spacing: 1px;
	text-indent: 1px;
	transition: background-color ease-in 0.1s;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.modale .conteneur .bouton:hover {
	background: #00acb0;
}

.modale .conteneur .actions {
	text-align: center;
}

.modale .conteneur .actions .bouton:first-child {
    margin-right: 20px;
}

.modale .conteneur .actions .bouton:last-child {
    margin-right: 0;
}

#alerte {
	cursor: pointer;
}

.alerte .modale .conteneur {
	padding: 30px 25px;
	text-align: center;
	max-width: 500px;
}

.alerte .message {
	font-size: 16px;
	line-height: 1.5;
}

.alerte .bouton {
	margin-top: 20px;
}

.alerte .modale .actions {
	font-size: 0;
}

.alerte .modale .actions span {
	min-width: 70px;
}

.modale-diapositive {
	position: relative;
	width: 90%;
	max-width: 50rem;
    background: #fff;
    box-shadow: 0 0 0.4rem 0.3rem rgba(0, 0, 0, 0.2);
	border: 4px solid #4b5a6d;
}

.modale-diapositive .en-tete {
	display: flex;
	justify-content: space-between;
	align-items: center;
    height: 5rem;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.modale-diapositive .titre {
    text-align: left;
    font-size: 1.7rem;
    font-weight: 500;
    width: calc(100% - 5rem);
    padding: 0 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modale-diapositive .titre span:last-child {
	font-weight: 400;
}

.modale-diapositive .fermer {
    font-size: 24px;
    cursor: pointer;
    width: 5rem;
    padding-right: 2rem;
	text-align: right;
}

.modale-diapositive .contenu {
    padding: 2rem 2rem 0 2rem;
    width: 100%;
}

.modale-diapositive .contenu .conteneur {
    margin: 0 0 2rem;
}

.modale-diapositive .contenu label:not(.bouton-bleu) {
    font-size: 14px;
    display: block;
	margin-bottom: 0.7rem;
}

.modale-diapositive .contenu input {
    width: 100%;
	padding: 0.5rem 1.2rem;
	height: 4.5rem;
    font-size: 16px;
    border: 1px solid #ddd;
}

@keyframes fonduEntrant {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Éditeur de texte
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.boutons-editeur {
	background: #fff;
	padding: 0.5rem 1.2rem;
	border-bottom: 1px solid #ddd;
	line-height: 1;
	position: sticky;
	top: 0;
	z-index: 1;
}

.boutons-editeur-commentaire {
	background: #fff;
	padding: 0.5rem 1.2rem;
	border-bottom: 1px solid #ddd;
	line-height: 1;
	z-index: 1;
}

.boutons-editeur-commentaire button,
.boutons-editeur button {
	font-size: 24px;
	color: #222;
	margin-right: 1.4rem;
}

#diapositive .ecrire-commentaire .boutons-editeur-commentaire,
#commentaire-modifie .boutons-editeur-commentaire {
	border-top-left-radius: 4px;
}

#texte .boutons-editeur {
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.contenu-editeur {
	padding: 10px 15px;
	font-size: 16px;
	position: sticky;
	min-height: 9rem;
	top: 0;
	outline: 0;
}

.contenu-editeur:lang(fr):empty:before {
	content: 'Ajouter du texte...';
	color: #aaa;
}

.contenu-editeur:lang(en):empty:before {
	content: 'Add text...';
	color: #aaa;
}

.contenu-editeur-commentaire {
	padding: 10px 15px;
	font-size: 16px;
	height: calc(100% - (25px + 1rem));
	overflow: auto;
	outline: 0;
}

.contenu-editeur-commentaire:lang(fr):empty:before {
	content: 'Votre commentaire...';
	color: #aaa;
}

.contenu-editeur-commentaire:lang(en):empty:before {
	content: 'Your comment...';
	color: #aaa;
}

.contenu-editeur-commentaire strong,
.contenu-editeur-commentaire b,
.contenu-editeur strong,
.contenu-editeur b {
	font-weight: bold;
}

/* Tooltip
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.info {
	position: relative;
	display: inline-block!important;
	font-size: 2.2rem;
    vertical-align: middle;
    margin-left: 0.5rem;
    color: #fdc00b;
	line-height: 1;
	cursor: help;
}
  
.info:before {
	visibility: hidden;
	font-size: 1.1rem;
	line-height: 1.25;
	content: attr(data-description);
	display: block;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	padding: 1rem;
	position: absolute;
	left: 50%;
	bottom: 3.5rem;
	margin-left: -8rem;
	width: 16rem;
	border-radius: 0.3rem;
	opacity: 0;
	text-align: center;
	transition: 0.2s ease-in-out;
}
  
.info:after {
	visibility: hidden;
	content: '';
	display: block;
	position: absolute;
	bottom: 2.7rem;
	left: 50%;
	margin-left: -0.8rem;
	height: 0;
	width: 0;
	border-left: 0.8rem solid transparent;
	border-right: 0.8rem solid transparent;
	border-top: 0.8rem solid rgba(0, 0, 0, 0.75);
	transition: 0.2s ease-in-out;
	opacity: 0;
}
  
.info:active:before {
	visibility: visible;
	opacity: 1;
	bottom: 3rem;
}
  
.info:active:after {
	visibility: visible;
	opacity: 1;
	bottom: 2.2rem;
}

/* Notification
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.notification {
	font-size: 1.5rem;
	width: 27rem;
	margin-left: -13.5rem;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	text-align: center;
	border-radius: 0.2rem;
	padding: 1rem 1.5rem;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 3rem;
	animation: fonduEntrantNotification 0.4s;
}
  
@keyframes fonduEntrantNotification {
	from { bottom: 0; opacity: 0; }
	to { bottom: 3rem; opacity: 1; }
}

/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fondu-enter-active {
	transition-property: opacity;
	transition-duration: 0.2s;
}

.fondu-enter,
.fondu-leave-active,
.fondu-leave,
.fondu-leave-to {
	opacity: 0;
}

/* Chargement
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.conteneur-chargement {
	font-size: 0;
	line-height: 1;
	text-align: center;
}

.chargement {
	display: inline-block;
	border: 0.7rem solid #ddd;
	border-top: 0.7rem solid #00ced1;
	border-radius: 50%;
	width: 4.5rem;
	height: 4.5rem;
	animation: rotation 0.7s linear infinite;
}
  
@keyframes rotation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.barre-progression {
	width: 100%;
	-webkit-appearance: none;
    -moz-appearance: none;
	border: none;
	background-color: #00ced1;
	height: 0.7rem;
	font-size: 0;
	line-height: 1;
}

.barre-progression[value]::-moz-progress-bar {
	background-color: #00ced1;
}

.barre-progression:not([value])::-moz-progress-bar {
	background-color: #ddd;
}

.barre-progression::-webkit-progress-bar {
	background-color: #ddd;
}

.barre-progression::-webkit-progress-value {
	background-color: #00ced1;
	transition: 0.2s ease-out;
}

.spinner {
	display: inline-block;
	position: relative;
	width: 8rem;
	height: 8rem;
}

.spinner div {
	transform-origin: 4rem 4rem;
	animation: spin 1.2s linear infinite;
}

.spinner div:after {
	content: '';
	display: block;
	position: absolute;
	top: 0.3rem;
	left: 3.7rem;
	width: 0.5rem;
    height: 2.5rem;
	border-radius: 20%;
	background: #00ced1;
}

.spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes spin {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (orientation: landscape) and (max-height: 359px) {
	#nav span {
		margin-top: 2rem;
	}
}

@media screen and (max-width: 767px) {
	html {
        font-size: 56.5%;
	}
}

@media screen and (min-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

/* Pad
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#diapositive .texte,
#diapositive .texte *,
#blocs .bloc .texte,
#blocs .bloc .texte * {
	user-select: text!important;
	-webkit-user-select: text!important;
	-webkit-touch-callout: default!important;
	word-break: break-word;
}

.commentaires li:not(.edition) .texte a,
#diapositive .texte a,
#blocs .bloc .texte a {
	color: #3fc5fc;
}

#iframe.youtube iframe {
	position: absolute;
    top: 0;
    left: 0;
}

#iframe:not(.youtube) iframe {
	border: 1px solid #ddd;
}

#diapositive .media.video .conteneur-iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
}

#diapositive .media:not(.video) .conteneur-iframe iframe {
	border: 1px solid #ddd;
}

#diapositive .media.document .conteneur-iframe iframe {
	height: 70rem;
}

#diapositive .media.embed .conteneur-iframe iframe {
	height: 45rem;
}

@media screen and (max-width: 575px) {
	#diapositive .media.document .conteneur-iframe iframe {
		height: 45rem;
	}

	#diapositive .media.embed .conteneur-iframe iframe {
		height: 27rem;
	}
}
